.indicator {
    background-repeat: no-repeat;
    background-size: contain;
}

.indicator.red { background-image: url("LED.svg#led-round-red-off"); }
.indicator.orange { background-image: url("LED.svg#led-round-orange-off"); }
.indicator.yellow { background-image: url("LED.svg#led-round-yellow-off"); }
.indicator.green { background-image: url("LED.svg#led-round-green-off"); }
.indicator.cyan { background-image: url("LED.svg#led-round-cyan-off"); }
.indicator.blue { background-image: url("LED.svg#led-round-blue-off"); }
.indicator.violet { background-image: url("LED.svg#led-round-violet-off"); }

.indicator.on.red { background-image: url("LED.svg#led-round-red-on"); }
.indicator.on.orange { background-image: url("LED.svg#led-round-orange-on"); }
.indicator.on.yellow { background-image: url("LED.svg#led-round-yellow-on"); }
.indicator.on.green { background-image: url("LED.svg#led-round-green-on"); }
.indicator.on.cyan { background-image: url("LED.svg#led-round-cyan-on"); }
.indicator.on.blue { background-image: url("LED.svg#led-round-blue-on"); }
.indicator.on.violet { background-image: url("LED.svg#led-round-violet-on"); }

.indicator.square.red { background-image: url("LED.svg#led-square-red-off"); }
.indicator.square.orange { background-image: url("LED.svg#led-square-orange-off"); }
.indicator.square.yellow { background-image: url("LED.svg#led-square-yellow-off"); }
.indicator.square.green { background-image: url("LED.svg#led-square-green-off"); }
.indicator.square.cyan { background-image: url("LED.svg#led-square-cyan-off"); }
.indicator.square.blue { background-image: url("LED.svg#led-square-blue-off"); }
.indicator.square.violet { background-image: url("LED.svg#led-square-violet-off"); }

.indicator.square.on.red { background-image: url("LED.svg#led-square-red-on"); }
.indicator.square.on.orange { background-image: url("LED.svg#led-square-orange-on"); }
.indicator.square.on.yellow { background-image: url("LED.svg#led-square-yellow-on"); }
.indicator.square.on.green { background-image: url("LED.svg#led-square-green-on"); }
.indicator.square.on.cyan { background-image: url("LED.svg#led-square-cyan-on"); }
.indicator.square.on.blue { background-image: url("LED.svg#led-square-blue-on"); }
.indicator.square.on.violet { background-image: url("LED.svg#led-square-violet-on"); }