{% macro myName() -%}
<span class="myUserName">{{ name }}</span>
{%- endmacro %}

<!DOCTYPE html>
  
<html lang="en">
    <head>
        <title>Whack-a-PLC</title>
        {% block head %}
        {% endblock %}
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href='/static/styles.css' />
        <link rel="icon" type="image/png" href="/favicon">
        <script>
            function postUsername()
            {
                let myName = document.querySelector('#Username').textContent;
                let request = new XMLHttpRequest();

                let ans = prompt("Please enter a username:", myName);
                if (ans == "" || ans == myName) { return; }

                request.onload = function ()
                {
                    if(request.status == 200)
                    {
                        setUsername(request.responseText);
                    }
                }

                request.open('POST', '/name', true);
                request.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
                request.send(ans);
            }

            function setUsername(name) {
                let userNames = document.querySelectorAll('.myUserName');
                userNames.forEach(
                    function (currentValue) { currentValue.textContent = name; }
                );
            }

        </script>
    </head>
    <body>
        <div id="nav">
            <h1>Whack-a-PLC</h1>
            <div class="float-left">
                <h2 id="Username" class="myUserName" onclick="postUsername()">{{ name }}</h2>
            </div>
            <div class="float-right">
                <h2 id="AccessMode">{{ access }}</h2>
            </div>
        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>