{% extends 'monitor.html' %}

{% block head %}
{{ super() }}
<script>
  function sendCommand(select)
  {
    let myBody = '{"select": ["' + select + '"]}';
    let request = new Request("/control", { method: "POST", body: myBody });
    fetch(request);
  }

  function handleClick(e)
  {
    let caller = e.target;
    if(caller.id == "")
    {
      caller = caller.parentElement;
    }
    sendCommand(caller.id);
  }

  function handleKey(e)
  {
    switch(e.key)
    {
      case "1":
        mySelect = "red";
        break;
      case "2":
        mySelect = "green";
        break;
      case "3":
        mySelect = "yellow";
        break;
      case "4":
        mySelect = "blue";
        break;
      default:
        return;
    }
    sendCommand(mySelect);
  }

  function addListeners(e)
  {
    // add button listeners
    let myButtons = document.querySelectorAll('.clickable');
    myButtons.forEach(
      function (button)
      {
          button.addEventListener("click", handleClick);
      }
    );
    // add keyboard listener
    document.addEventListener("keydown", handleKey);
  }
</script>
{% endblock %}

{% block main %}
<div class="center block">
    <div class="form">
    <h2>Score: <span id="score">0</span></h2>
    <button id="reset" class="clickable" type="button">Reset</button>
    </div>
    <div id="buttons" class="wrapper">
      <div id="red" class="indicator clickable square red"><h3 class="label">01</h3></div>
      <div id="green" class="indicator clickable square green"><h3 class="label">02</h3></div>
      <div id="yellow" class="indicator clickable square yellow"><h3 class="label">03</h3></div>
      <div id="blue" class="indicator clickable square blue"><h3 class="label">04</h3></div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", addListeners);
</script>
{% endblock %}