{% extends 'base.html' %}

{% block head %}
<script>
    function selectJoin() {
        document.querySelector("#join").setAttribute("checked","checked");
    }
</script>
{% endblock %}

{% block main %}
<p>Welcome, {{ myName() }}, to Mathleships, the grid-fire game to practice your math skills.</p>
<div class="center block">
    <form action="/" method="post">
        <h2>Let's Play</h2>
        <label>
            <input type="radio" id="join" name="mode" value="join" />Join Game:
            <span class="checkmark"></span>
            <input type="text" name="game" list="codes" placeholder="Game Code" onfocus="selectJoin()"/>
        </label>
        <br />
        <label>
            <input type="radio" name="mode" value="new" checked="checked"/>New Game
            <span class="checkmark"></span>
        </label>
        <br />
        <input type="submit" value="Submit"/>
    </form>
</div>

<datalist id="codes">
{% for code in gameCodes -%}
<option value="{{ code }}" />
{%- endfor %}
</datalist>

{% endblock %}