{% extends 'base.html' %}

{% block main %}
<p>Welcome to Whack-a-PLC. This game demonstrates functionality of the
    <a href="https://pymodbus.readthedocs.io/">pyModbus</a> interface and a basic 
    <a href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a> server stack.
    The application has five routes which align with the access modes, plus this log-on screen.
</p>
<div class="center block">
    <h2>Let's Play</h2>
    <form action="/" method="post">
        <label>Username:</label>
        <input type="text" name="user" placeholder="New User" />
        <label>Access:</label>
        <select name="access">
            <option value="">Mode</option>
            <option value="monitor">Monitor</option>
            <option value="control">Control</option>
            <option value="advanced">Advanced Control</option>
        </select>
        <input type="submit" value="Begin"/>
    </form>
</div>
{% endblock %}