{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/LED.css" />
<script>
if (!!window.EventSource) {
  var source = new EventSource('/data-stream');
  source.onmessage = function(e) {
    myData = JSON.parse(e.data);
    document.getElementById("score").innerText = myData.score;
    let myButtons = document.querySelectorAll("#buttons>div");
    myButtons.forEach(
      function (myElement)
      {
        myElement.classList.remove("on");
        myElement.classList.remove("off");
      }
    );
    document.getElementById("red").classList.add(myData.red ? "on" : "off");
    document.getElementById("yellow").classList.add(myData.yellow ? "on" : "off");
    document.getElementById("green").classList.add(myData.green ? "on" : "off");
    document.getElementById("blue").classList.add(myData.blue ? "on" : "off");
  }
}
</script>
{% endblock %}

{% block main %}
<div class="center block">
    <h2>Score: <span id="score">0</span></h2>
    <div id="buttons" class="wrapper">
      <div id="red" class="indicator square red"><h3 class="label">01</h3></div>
      <div id="yellow" class="indicator square green"><h3 class="label">02</h3></div>
      <div id="green" class="indicator square yellow"><h3 class="label">03</h3></div>
      <div id="blue" class="indicator square blue"><h3 class="label">04</h3></div>
    </div>
</div>
{% endblock %}